<!-- /sections/product.liquid -->

{%- liquid
  assign show_cart_bar = false
  if section.settings.show_cart_bar
    assign show_cart_bar = true
  endif
-%}
<div shop="tamiandtaniedition.myshopify.com" data-style="61ea7367036e40ab4b19f3e4" product-id="7498933862647" class="super-embed-root"></div><script defer async src="https://super-embeds.2-b.app/embed/js/super-embed.min.js"></script>

<div id="template-product"
    data-section-id="{{ section.id }}"
    data-section-type="product"
    data-product-handle="{{ product.handle }}"
    data-enable-history-state="true"
    data-sticky-enabled="{{ section.settings.product_sticky_enable }}"
    data-tall-layout="{% if section.settings.image_layout == 'stacked' %}true{% else %}false{% endif %}"
    data-cart-bar="{{ show_cart_bar }}"
    data-image-zoom-enable="{{ section.settings.enable_zoom }}">

  {% assign unique = section.id %}
  <!-- /snippets/product.liquid -->

{% comment %}
    Renders product content

    Accepts:
    - product: {Object} Current product (required)
    - section: {Object} Image to render (required)

{% endcomment %}

{%- liquid
  assign unique = unique | default: ''
  assign enable_video_looping = section.settings.enable_video_looping
  assign image_size = section.settings.image_size
  assign image_layout = section.settings.image_layout

  assign modifier = image_layout | default: 'thumbnails'
  assign modifier = 'product__wrapper--' | append: modifier
  assign data_thumbnails_left = ''

  if image_layout == 'thumbnails-left'
    assign data_thumbnails_left = 'data-thumbnails-left'
  endif

  if image_size == 'small'
    assign modifier = modifier | append: ' product__wrapper--thumbnails-small'
  endif

  if image_size == 'stretch'
    if image_layout == 'stacked'
      assign modifier = modifier | append: ' product__wrapper--stacked-stretch'
    else
      assign modifier = modifier | append: ' product__wrapper--stretch'
    endif
  endif
-%}

<div class="product__wrapper {{ modifier }}" data-product {{ data_thumbnails_left }}>
  {%- liquid
    assign current_variant = product.selected_or_first_available_variant
    assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media
    assign featured_media_aspect_ratio = featured_media.aspect_ratio | default: 1
  -%}

  {%- comment -%} Prevent CLS on flickity init {%- endcomment -%}
  {%- style -%}
  .product__slides .flickity-viewport::after { aspect-ratio: {{ featured_media_aspect_ratio | round: 2 }}; }
  {%- endstyle -%}

  <div class="grid product__page{% if image_size == 'stretch' %} grid--no-margin{% endif %}">
    <div class="grid__item medium-up--one-half">
      {%- if product.media.size > 0 -%}
        <div class="product__slides product-single__photos" data-product-slideshow data-product-single-media-group>
          {%- for media in product.media -%}
            {%- render 'media', media: media, featured_media: featured_media, enable_video_looping: enable_video_looping, sectionkey: unique, image_size_setting: image_size -%}
          {%- endfor -%}
        </div>

        {%- assign first_3d_model = product.media | where: "media_type", "model" | first -%}
        {%- if first_3d_model -%}
          <button
            class="btn btn--outline btn--neutral btn--ar product-single__view-in-space"
            data-shopify-xr
            data-shopify-model3d-id="{{ first_3d_model.id }}"
            data-shopify-title="{{ product.title | strip_html }}"
            data-shopify-xr-hidden>
            {% render 'icon-media-model' %}
            <span class="product-single__view-in-space-text">{{ 'products.general.view_space' | t }}</span>
          </button>
        {%- endif -%}

        {%- if product.media.size > 1 -%}
          <div data-product-thumbs  class="product__thumbs--square"></div>
        {%- endif -%}
      {%- else -%}
        <div class="product__slides product-single__photos product__slides--{{ image_size }}" data-product-slideshow data-product-single-media-group>
          <div class="product__photo product__slide">
            <div class="lazy-image" style="padding-top: 100%">
              <img
                class="lazyload"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="{{- product.featured_image | img_url: '1080x' -}}"
                alt="{{- product.title | strip_html | escape -}}">
            </div>
          </div>
        </div>
      {%- endif -%}
    </div>

    <div class="grid__item medium-up--one-half">
      <div class="form__wrapper{% unless current_variant.available %} variant--soldout{% endunless %}" data-form-wrapper>
        <div class="form__inner__wrapper">
          <div class="form__width">
   {%- capture form_fields -%}
    {% unless product.has_only_default_variant %}
      {%- assign selects_counter = 0 -%}
      <div class="product__selectors">
     

        {% for option in product.options_with_values %}
           
          {%- assign option_name_handle_separator = option.name | handle | prepend: ',' | append: ',' -%}

          {%- if settings.color_swatches -%}
            {% comment %} Determine if current option matches swatch handle translations {% endcomment %}
            {%- assign is_swatch_option = false -%}
            {%- assign swatch_translation = 'general.swatches.color' | t -%}
            {%- assign translation_string = swatch_translation | remove: '  ' | replace: ', ', ',' | replace: ' ,', ',' | replace: ',', '____' | handle | replace: '____', ',' | append: ',' | prepend: ',' -%}
            
            {%- if translation_string contains option_name_handle_separator -%}
              {%- assign is_swatch_option = true -%}
            {%- endif -%}
          {%- endif -%}

          {%- assign is_size_option = false -%}
          {%- if show_size_chart and is_size_option == false -%}
            {% comment %} Determine if current option matches size handle translations {% endcomment %}
            {%- assign size_translation = 'general.swatches.size' | t -%}
            {%- assign translation_string = size_translation | remove: '  ' | replace: ', ', ',' | replace: ' ,', ',' | replace: ',', '____' | handle | replace: '____', ',' | append: ',' | prepend: ',' -%}

            {%- if translation_string contains option_name_handle_separator -%}
            {%- assign is_size_option = true -%}
            {%- assign show_size_link_outside = true -%}
            {%- endif -%}
          {%- endif -%}

          <div class="selector-wrapper {% if option.name == 'Color' or option.name == 'color' or option.name == 'Colour' or option.name == 'colour' %}zagocolorhide{% endif %}  {% if settings.variant_lines or is_swatch_option %} selector-wrapper--fullwidth{% endif %}" data-select-position="{{ option.position }}">
            {%- if settings.variant_lines or is_swatch_option -%}
              {% assign current_value = current_variant.options[forloop.index0] %}
              <fieldset class="radio__fieldset">
                <legend class="radio__legend {% if is_size_option %} radio__legend--flex {% endif %}">
                  <span class="radio__legend__label">{{ option.name | escape_once }}</span>

                  {%- if is_size_option -%}
                    {% if block.settings.show_labels %}
                      <div class="radio__legend__dot">&nbsp;</div>
                    {% endif %}
                    
                    {{ size_chart }}
                  {%- endif -%}
                </legend>
                {% for value in option.values %}
                {% assign check = false %}
                  {% for media in product.media %}
                    {% assign vlu = value | handle %}
                    {% assign valt = media.alt | handle %}
                    {% if value.size == media.alt.size and vlu == valt   %}
                      {% assign check = true %}
                    {% endif %}
                  {% endfor %} 
                {% endfor %} 
              <div class="{% if check  %}wrapper-s {% endif %}">
                {% for value in option.values %}
                  
                  {% capture input_id %}{{product.id}}-{{ option.name | escape_once }}-{{ value | escape_once }}{% endcapture %}

                  {%- if is_swatch_option -%}
                    <span class="swatch__button swatch__button_is" data-tooltip="{{ value | escape_once | capitalize }}">
                      <input type="radio"
                          data-single-option-selector
                          data-index="option{{ option.position }}"
                          name="options[{{ option.name | escape_once }}]"
                          value="{{ value | escape_once }}" 
                          id="{{ input_id | handle}}"
                          {% if value == current_value %}checked{% endif %}>
                      <label for="{{ input_id | handle }}" data-swatch="{{ value | escape_once }}">
                        <span class="visually-hidden">{{ value | escape_once }}</span>
                      </label>
                    </span>

                  {%- else -%}

                    {% comment %} radio button {% endcomment %}
                    {% if forloop.first and check %}

                    <span class="radio__button radio__button_head">
                      <label for="{{ input_id }}">
                        {% for media in product.media %}
                          {% assign vlu = value | handle %}
                          {% assign valt = media.alt | handle %}
                          {% if value.size == media.alt.size and vlu == valt   %}
                            <img class="vlu-{{ vlu }} valt-{{ valt }}" srcset="{{ media.src | img_url: '100x' }}">
                          {% endif %}
                        {% endfor %}    
                        <span>{{ value | escape_once }}</span>
                      </label>
                      {% if check %} <div class="d-icon-arrow-down">{% include 'dropdown-icon' %}</div>{% endif %}
                    </span>
                    {% endif %}
                    {% if forloop.first and check %} <div class="group-radio-button"> {% endif %}
                    <span class="radio__button radio__button_check {% if value == current_value and check %} radio__button_checked {% else %} radio__button_normal {% endif %}">
                      <input
                        type="radio"
                        data-single-option-selector
                        data-index="option{{ option.position }}"
                        name="options[{{ option.name | escape_once }}]"
                        value="{{ value | escape_once }}" id="{{ input_id | handle}}"
                        {% if value == current_value %}checked{% endif %}>
                      <label for="{{ input_id | handle}}">

                        {% for media in product.media %}
                          {% assign vlu = value | handle %}
                          {% assign valt = media.alt | handle %}
                          {% if value.size == media.alt.size and vlu == valt   %}
                            <img class="vlu-{{ vlu }} valt-{{ valt }}" srcset="{{ media.src | img_url: '100x' }}" alt={{valt}}>
                          {% endif %}
                        {% endfor %}    

                        <span>{{ value | escape_once }}</span>
                      </label>
                    </span>
                    {% if forloop.last and check %} </div> {% endif %}
                  {%- endif -%}

                {% endfor %}
              </div>
              </fieldset>
            {%- else -%}
              {%- assign selects_counter = selects_counter | plus: 1 -%}
              <div class="select__fieldset">               
                {% capture input_id %}{{product.id}}-option-{{ option.position }}{% endcapture %}
                <span class="radio__legend">
                  <span class="radio__legend__label" id="{{ unique }}-select-{{ option.name | handle }}-label">{{ option.name | escape_once }}</span>
                </span>

                <div class="select-popout" data-popout data-popout-prevent="true">
                  <button type="button" class="select-popout__toggle" aria-expanded="false" aria-controls="{{ unique }}-select-{{ option.name | handle }}" aria-labelledby="{{ unique }}-select-{{ option.name | handle }}-label" data-popout-toggle>
                    {{ option.selected_value }}
                  </button>

                  <ul id="{{ unique }}-select-{{ option.name | handle }}" class="select-popout__list" data-popout-list>
                    {% for value in option.values %}
                      <li class="select-popout__item {% if option.selected_value == value %}select-popout__item--current{% endif %}">
                        <a class="select-popout__option" href="#" {% if option.selected_value == value %}aria-current="true"{% endif %} data-value="{{ value | escape_once }}" data-popout-option>
                          <span>
                            {{ value | escape_once }}
                          </span>
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                  <input type="hidden" name="options[{{ option.name | escape_once }}]" id="{{ input_id }}" value="{{ option.selected_value }}" data-popout-input data-single-option-selector data-index="option{{ option.position }}"/>
                </div>
              </div>
            {%- endif -%}
          </div>
        {% endfor %}

        {%- assign check_selects_counter = selects_counter | modulo: 2 -%}
        {%- if check_selects_counter != 0 -%}
          {%- assign quantity_bottom_show = false -%}
        {%- endif -%}
        
        {%- if block.settings.show_quantity -%}  
          {%- unless quantity_bottom_show -%}
            <div class="selector-wrapper">
              {{ quantity_selector }}
            </div>
          {%- endunless -%}
        {%- endif -%}
      </div>
    {% endunless %}
  {%- endcapture -%}           
{% form 'product', product, class: 'product-form', data-product-form: '' %}
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when '@app' -%}
                  {% render block %}
                {%- when 'price_and_title' -%}
                  
{%- case block.settings.subheading_option -%}
  {%- when 'vendor' -%}
    {%- if product.vendor -%}
      <nav class="breadcrumbs breadcrumbs--no-padding product__breadcrumbs">
        <a href="{{ product.vendor | url_for_vendor }}">{{ product.vendor }}</a>
      </nav>
    {%- endif -%}
  {%- when 'collection' -%}
    {%- if collection or product.collections.size > 0 -%}
      {% assign _collection = collection | default: product.collections[0] %}

      <nav class="breadcrumbs breadcrumbs--no-padding product__breadcrumbs">
        <a href="{{ _collection.url }}">{{ _collection.title }}</a>
      </nav>

    {%- endif -%}
  {%- when 'breadcrumb'  -%}
    {% render 'breadcrumbs' breadcrumbs_modifier: 
  'breadcrumbs--no-padding product__breadcrumbs' %}
{%- endcase -%}

<div class="product__title__wrapper" data-zoom-caption {{ block.shopify_attributes }}>
  <h1 class="product__title">
    {% if template contains 'product' %}
      {{ product.title | strip_html }}
    {% else %}
      <a href="{{ product.url }}">{{ product.title | strip_html }}</a>
    {% endif %}
  </h1>

  {%- if block.settings.show_rating and product.metafields.reviews.rating.value != blank -%}
    <div class="product__badge">
      <button type="button" class="product__badge-link" data-scroll-to="#reviews-{{ product.id }}">
        <div class="rating-container product__rating">
          {% liquid
          assign rating_decimal = 0 
          assign decimal = product.metafields.reviews.rating.value.rating | modulo: 1 
          if decimal >= 0.3 and decimal <= 0.7
            assign rating_decimal = 0.5
          elsif decimal > 0.7
            assign rating_decimal = 1
          endif 
          %}
          {%- if block.settings.enable_star_rating -%}
            <div class="rating" role="img" aria-label="{{ 'general.accessibility.star_reviews_info' | t: rating_value: product.metafields.reviews.rating.value, rating_max: product.metafields.reviews.rating.value.scale_max }}">
              {% render 'icon-star' %}
            </div>
          {%- endif -%}
          <p class="rating-text caption">
            <span aria-hidden="true">{{ product.metafields.reviews.rating.value.rating | round: 1 }}</span>
          </p>
          {%- if block.settings.show_rating_count -%}
            <p class="rating-count caption">
              <span aria-hidden="true">({{ product.metafields.reviews.rating_count }})</span>
              <span class="visually-hidden">{{ product.metafields.reviews.rating_count }} {{ "general.accessibility.total_reviews" | t }}</span>
            </p>
          {%- endif -%}
        </div>
      </button>
    </div>
  {%- endif -%}

  <div class="product__price__wrap">
    <div class="product__price" data-price-wrapper>
      <span data-product-price {% if current_variant.compare_at_price > current_variant.price %} class="product__price--sale"{% endif %}>
        {%- if current_variant.price == 0 -%}
          {{ 'general.money.free' | t }}
        {%- else -%}
          {{ current_variant.price | money }}
        {%- endif -%}
      </span>

      {% if product.compare_at_price_max > product.price %}
        <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
        <s class="product__price--strike" data-compare-price>
          {% if current_variant.compare_at_price > current_variant.price %}
            {{ current_variant.compare_at_price | money }}
          {% endif %}
        </s>
      {% endif %}

      {% liquid
        assign units = product.variants | map: 'unit_price'
        if units[0]
          assign has_units = true
        else
          assign has_units = false
        endif 
      %}
      {% if has_units %}
        {% capture show_units %}
          {%- unless current_variant.unit_price -%}style="display: none;"{%- endunless -%}
        {% endcapture %}
        {% capture unit_price_separator %}
          <span aria-hidden="true">/</span><span class="visually-hidden">{{ 'general.accessibility.unit_price_separator' | t }}&nbsp;</span>
        {% endcapture %}
        {% capture unit_price_base_unit %}
          <span>
            {% if current_variant.unit_price_measurement %}
              {% if current_variant.unit_price_measurement.reference_value != 1 %}
                {{ current_variant.unit_price_measurement.reference_value }}
              {%- endif -%}
              {{ current_variant.unit_price_measurement.reference_unit }}
            {% endif %}
          </span>
        {% endcapture %}
        <div class="product__price__meta">
          <span data-product-unit {{ show_units }} class="product__price--unit">
            <span class="visually-hidden visually-hidden--inline">{{ 'products.product.unit_price_label' | t }}</span>
            <span data-product-unit-price id="unit-price-{{ section.id }}">{{ current_variant.unit_price | money }}</span>
            {{ unit_price_separator }}
            <span data-product-base id="unit-price-base-{{ section.id }}">{{ unit_price_base_unit }}</span>
          </span>
          <span data-price-each class="product__price--unit hide">
            {{ 'products.product.each' | t }}
            <span data-price-each-amount></span>
          </span>
        </div>
      {% endif %}
    </div>
    <span data-price-off class="product__price--off hide">
      {{ 'products.product.subscription' | t }}
      <em>•</em>
      {{ 'products.product.save' | t }}
      <span data-price-off-amount></span>
    </span>
  </div>
</div>

                <!-- Dave - ST - Implemeting changes for Dropdown -->
                {% assign collection = collections['all'] %}
                {% assign hasProduct = false %}
                {% if product.title contains '038' %}
                            {% assign currenttitle = product.title | split: 'Heradi Ring' | first %}
                            {% assign removtitle = product.title | split: '18K' | first %}
                        {% elsif product.title contains '073' %}
                            {% assign currenttitle = product.title | split: 'Heradi Necklace' | first %}
                            {% assign removtitle1 = product.title | split: 'Heradi Necklace' | first %}
                            {% assign removtitle = removtitle1 | append: 'Heradi Necklace' %}
                        {% elsif product.title contains '03' %}
                            {% assign currenttitle = product.title | split: 'Ear Cuff in' | first %}
                            {% assign removtitle1 = product.title | split: 'in' | first %}
                            {% assign removtitle = removtitle1 | append: 'in' %}
                        {% elsif product.title contains '01E' %}
                            {% assign currenttitle = product.title | split: 'E' | first %}
                            {% assign removtitle1 = product.title | split: 'E' | first %}
                            {% assign removtitle = removtitle1 | append: 'E' %}
                        {% elsif product.title contains '04E' %}
                            {% assign currenttitle = product.title | split: 'E' | first %}
                            {% assign removtitle1 = product.title | split: 'in' | first %}
                            {% assign removtitle = removtitle1 | append: 'in' %}
                        {% elsif product.title contains '06E' %}
                            {% assign currenttitle = product.title | split: 'E' | first %}
                            {% assign removtitle1 = product.title | split: 'Earrings' | first %}
                            {% assign removtitle = removtitle1 | append: 'Earrings' %}
                        {% elsif product.title contains '07E' %}
                            {% assign currenttitle = product.title | split: 'E' | first %}
                            {% assign removtitle1 = product.title | split: 'Earrings' | first %}
                            {% assign removtitle = removtitle1 | append: 'Earrings' %}
                        {% elsif product.title contains '10E' %}
                            {% assign currenttitle = product.title | split: 'E' | first %}
                            {% assign removtitle1 = product.title | split: 'in' | first %}
                            {% assign removtitle = removtitle1 | append: 'in' %}
                        {% elsif product.title contains '13E' %}
                            {% assign currenttitle = product.title | split: 'E' | first %}
                            {% assign removtitle1 = product.title | split: 'Earrings in' | first %}
                            {% assign removtitle = removtitle1 | append: 'Earrings in' %}
                        {% elsif product.title contains '14E' %}
                            {% assign currenttitle = product.title | split: 'E' | first %}
                            {% assign removtitle1 = product.title | split: 'Earrings in' | first %}
                            {% assign removtitle = removtitle1 | append: 'Earrings in' %}
                        {% elsif product.title contains '28E' %}
                            {% assign currenttitle = product.title | split: 'E' | first %}
                            {% assign removtitle1 = product.title | split: 'Earrings in' | first %}
                            {% assign removtitle = removtitle1 | append: 'Earrings in' %}
                        {% elsif product.title contains '21N' %}
                            {% assign currenttitle = product.title | split: 'N' | first %}
                            {% assign removtitle1 = product.title | split: 'in' | first %}
                            {% assign removtitle = removtitle1 | append: 'in' %}
                        {% elsif product.title contains '27R' %}
                            {% assign currenttitle = product.title | split: 'R' | first %}
                            {% assign removtitle1 = product.title | split: 'Two' | first %}
                            {% assign removtitle = removtitle1 | append: 'Two' %}
                        {% elsif product.title contains '29R' %}
                            {% assign currenttitle = product.title | split: 'R' | first %}
                            {% assign removtitle1 = product.title | split: 'Chunky' | first %}
                            {% assign removtitle = removtitle1 | append: 'Chunky' %}
                        {% elsif product.title contains '37R' %}
                            {% assign currenttitle = product.title | split: 'R' | first %}
                            {% assign removtitle1 = product.title | split: 'Ring in' | first %}
                            {% assign removtitle = removtitle1 | append: 'Ring in' %}
                        {% elsif product.title contains '23R' %}
                            {% assign currenttitle = product.title | split: 'R' | first %}
                        {% elsif product.title contains '25R' %}
                            {% assign currenttitle = product.title | split: 'R' | first %}
                            {% assign removtitle1 = product.title | split: 'Rings' | first %}
                            {% assign removtitle = removtitle1 | append: 'Rings in' %}
                        {% elsif product.title contains '43R' %}
                            {% assign currenttitle = product.title | split: 'R' | first %}
                            {% assign removtitle1 = product.title | split: '43R in' | first %}
                            {% assign removtitle = removtitle1 | append: '43R in' %}
                        {% elsif product.title contains '20N' %}
                            {% assign currenttitle = product.title | split: 'N' | first %}
                            {% assign removtitle1 = product.title | split: 'Necklace' | first %}
                            {% assign removtitle = removtitle1 | append: 'Necklace in' %}
                        {% elsif product.title contains '038' %}
                            {% assign currenttitle = product.title | split: 'Heradi Ring' | first %}
                            {% assign removtitle1 = product.title | split: 'Heradi Ring' | first %}
                            {% assign removtitle = removtitle1 | append: 'Heradi Ring' %}
                        {% elsif product.title contains '14K' %}
                            {% assign currenttitle = product.title | split: '14K' | first %}
                            {% assign removtitle = product.title | split: '14K' | first %}
                        {% elsif product.title contains '18K' %}
                            {% assign currenttitle = product.title | split: '18K' | first %}
                            {% assign removtitle = product.title | split: '18K' | first %}
                        {% elsif product.title contains '14k' %}
                            {% assign currenttitle = product.title | split: '14k' | first %}
                            {% assign removtitle = product.title | split: '14k' | first %}
                        {% elsif product.title contains '18k' %}
                            {% assign currenttitle = product.title | split: '18k' | first %}
                            {% assign removtitle = product.title | split: '18k' | first %}
                        {% elsif product.title contains 'Ring' %}
                            {% assign currenttitle = product.title | split: 'Ring' | first %}
                            {% assign removtitle1 = product.title | split: 'Ring' | first %}
                            {% assign removtitle = removtitle1 | append: 'Ring' %}
                        {% else %}
                            {% assign newcurrenttitle = product.title | split: ' ' %}
                            {% assign currenttitle = '' %}
                            {% for titles in newcurrenttitle %}
                                {% assign currenttitle = currenttitle | append: titles %}
                                {% assign currenttitle = currenttitle | append: ' ' %}
                                {% assign removtitle1 = currenttitle %}
                                {% if forloop.index == 2 %}
                                    {% break %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                {% paginate collection.products by 100000 %}
                    {% for Product in collection.products %}
                        {% if Product.title contains currenttitle %}
                          {% unless product.featured_image == Product.featured_image %}
                            {% assign hasProduct = true %}
                          {% endunless %}
                        {% endif %}
                    {% endfor %}
                {% endpaginate %}
                
                {% if hasProduct %}
                    <span class="radio__legend__label">Choose Option:</span>
                    <div class="newvariantbox">
                        <div class="currentProduct">
                            <div class="submainproduct">
                                <div class="imagest">
                                    <img src="{{ product.featured_image | img_url: 'master' }}" alt={{product.title}}>
                                </div>
                                <div class="description">
                                    {% if product.title contains 'Not Vermeil' %}
                                    {{ product.title | replace: removtitle,'' | replace: 'Not Vermeil', 'Sterling Silver' }}
                                    {% else %}
                                    {{ product.title | replace: removtitle,'' }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="d-icon-arrow-down"><svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.02173 9L12.0522 16L19.0827 9" stroke="black" stroke-linecap="square"></path>
                                </svg>
                            </div>
                        </div>
                        <div class="dropdownlist">
                        {% if product.title contains '038' %}
                            {% assign currenttitle = product.title | split: 'Heradi Ring' | first %}
                            {% assign removtitle = product.title | split: '18K' | first %}
                        {% elsif product.title contains '073' %}
                            {% assign currenttitle = product.title | split: 'Heradi Necklace' | first %}
                            {% assign removtitle1 = product.title | split: 'Heradi Necklace' | first %}
                            {% assign removtitle = removtitle1 | append: 'Heradi Necklace' %}
                        {% elsif product.title contains '03' %}
                            {% assign currenttitle = product.title | split: 'Ear Cuff in' | first %}
                            {% assign removtitle1 = product.title | split: 'in' | first %}
                            {% assign removtitle = removtitle1 | append: 'in' %}
                        {% elsif product.title contains '01E' %}
                            {% assign currenttitle = product.title | split: 'E' | first %}
                            {% assign removtitle1 = product.title | split: 'E' | first %}
                            {% assign removtitle = removtitle1 | append: 'E' %}
                        {% elsif product.title contains '04E' %}
                            {% assign currenttitle = product.title | split: 'E' | first %}
                            {% assign removtitle1 = product.title | split: 'in' | first %}
                            {% assign removtitle = removtitle1 | append: 'in' %}
                        {% elsif product.title contains '06E' %}
                            {% assign currenttitle = product.title | split: 'E' | first %}
                            {% assign removtitle1 = product.title | split: 'Earrings' | first %}
                            {% assign removtitle = removtitle1 | append: 'Earrings' %}
                        {% elsif product.title contains '07E' %}
                            {% assign currenttitle = product.title | split: 'E' | first %}
                            {% assign removtitle1 = product.title | split: 'Earrings' | first %}
                            {% assign removtitle = removtitle1 | append: 'Earrings' %}
                        {% elsif product.title contains '10E' %}
                            {% assign currenttitle = product.title | split: 'E' | first %}
                            {% assign removtitle1 = product.title | split: 'in' | first %}
                            {% assign removtitle = removtitle1 | append: 'in' %}
                        {% elsif product.title contains '13E' %}
                            {% assign currenttitle = product.title | split: 'E' | first %}
                            {% assign removtitle1 = product.title | split: 'Earrings in' | first %}
                            {% assign removtitle = removtitle1 | append: 'Earrings in' %}
                        {% elsif product.title contains '14E' %}
                            {% assign currenttitle = product.title | split: 'E' | first %}
                            {% assign removtitle1 = product.title | split: 'Earrings in' | first %}
                            {% assign removtitle = removtitle1 | append: 'Earrings in' %}
                        {% elsif product.title contains '28E' %}
                            {% assign currenttitle = product.title | split: 'E' | first %}
                            {% assign removtitle1 = product.title | split: 'Earrings in' | first %}
                            {% assign removtitle = removtitle1 | append: 'Earrings in' %}
                        {% elsif product.title contains '21N' %}
                            {% assign currenttitle = product.title | split: 'N' | first %}
                            {% assign removtitle1 = product.title | split: 'in' | first %}
                            {% assign removtitle = removtitle1 | append: 'in' %}
                        {% elsif product.title contains '27R' %}
                            {% assign currenttitle = product.title | split: 'R' | first %}
                            {% assign removtitle1 = product.title | split: 'Two' | first %}
                            {% assign removtitle = removtitle1 | append: 'Two' %}
                        {% elsif product.title contains '29R' %}
                            {% assign currenttitle = product.title | split: 'R' | first %}
                            {% assign removtitle1 = product.title | split: 'Chunky' | first %}
                            {% assign removtitle = removtitle1 | append: 'Chunky' %}
                        {% elsif product.title contains '37R' %}
                            {% assign currenttitle = product.title | split: 'R' | first %}
                            {% assign removtitle1 = product.title | split: 'Ring in' | first %}
                            {% assign removtitle = removtitle1 | append: 'Ring in' %}
                        {% elsif product.title contains '23R' %}
                            {% assign currenttitle = product.title | split: 'R' | first %}
                        {% elsif product.title contains '25R' %}
                            {% assign currenttitle = product.title | split: 'R' | first %}
                            {% assign removtitle1 = product.title | split: 'Rings' | first %}
                            {% assign removtitle = removtitle1 | append: 'Rings in' %}
                        {% elsif product.title contains '43R' %}
                            {% assign currenttitle = product.title | split: 'R' | first %}
                            {% assign removtitle1 = product.title | split: '43R in' | first %}
                            {% assign removtitle = removtitle1 | append: '43R in' %}
                        {% elsif product.title contains '20N' %}
                            {% assign currenttitle = product.title | split: 'N' | first %}
                            {% assign removtitle1 = product.title | split: 'Necklace' | first %}
                            {% assign removtitle = removtitle1 | append: 'Necklace in' %}
                        {% elsif product.title contains '038' %}
                            {% assign currenttitle = product.title | split: 'Heradi Ring' | first %}
                            {% assign removtitle1 = product.title | split: 'Heradi Ring' | first %}
                            {% assign removtitle = removtitle1 | append: 'Heradi Ring' %}
                        {% elsif product.title contains '14K' %}
                            {% assign currenttitle = product.title | split: '14K' | first %}
                            {% assign removtitle = product.title | split: '14K' | first %}
                        {% elsif product.title contains '18K' %}
                            {% assign currenttitle = product.title | split: '18K' | first %}
                            {% assign removtitle = product.title | split: '18K' | first %}
                        {% elsif product.title contains '14k' %}
                            {% assign currenttitle = product.title | split: '14k' | first %}
                            {% assign removtitle = product.title | split: '14k' | first %}
                        {% elsif product.title contains '18k' %}
                            {% assign currenttitle = product.title | split: '18k' | first %}
                            {% assign removtitle = product.title | split: '18k' | first %}
                        {% elsif product.title contains 'Ring' %}
                            {% assign currenttitle = product.title | split: 'Ring' | first %}
                            {% assign removtitle1 = product.title | split: 'Ring' | first %}
                            {% assign removtitle = removtitle1 | append: 'Ring' %}
                        {% else %}
                            {% assign newcurrenttitle = product.title | split: ' ' %}
                            {% assign currenttitle = '' %}
                            {% for titles in newcurrenttitle %}
                                {% assign currenttitle = currenttitle | append: titles %}
                                {% assign currenttitle = currenttitle | append: ' ' %}
                                {% assign removtitle1 = currenttitle %}
                                {% if forloop.index == 2 %}
                                    {% break %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% assign collection = collections['all'] %}
                        {% paginate collection.products by 100000 %}
                            {% for Product in collection.products %}
                                {% if Product.title contains currenttitle %}
                                    {% unless product.featured_image == Product.featured_image %}
                                    <div class="currentProduct">
                                        <a href="{{ Product.url }}" class="productlink">
                                            <div class="imagest">
                                                <img src="{{ Product.featured_image | img_url: 'master' }}" alt={{product.title}}>
                                            </div>
                                            <div class="description">
                                                {% if Product.title contains 'Not Vermeil' %}
                                                {{ Product.title | replace: removtitle,'' | replace: 'Not Vermeil', 'Sterling Silver' }}
                                                {% else %}
                                                {{ Product.title | replace: removtitle,'' }}
                                                {% endif %}
                                            </div>
                                        </a>
                                    </div>
                                    {% endunless %}
                                {% endif %}
                            {% endfor %}
                        {% endpaginate %}
                        </div>
                    </div>
                {% endif %}
  
                {%- when 'form' -%}
                  {%- assign hide_labels_class = '' -%}
                  {%- if block.settings.show_labels == false -%}
                    {%- assign hide_labels_class = 'variant__labels--hide' -%}
                  {%- endif -%}

                  <div data-product-form class="product__form" {{ block.shopify_attributes }}>
                    {%- render 'product-form', product: product, block: block, unique: unique -%}
                  </div>
                {%- when 'tab_richtext' -%}
                  <div class="product-description rte" {{ block.shopify_attributes }}>
                    {%- if section == nil -%}
                      {{ product.description | split: '<h6>' | first | strip_html | truncatewords: 30, '...' }}
                      <hr />
                      <p>
                        <a href="{{ product.url }}" class="more">{{ 'products.general.view_product' | t }} &rarr;</a>
                      </p>
                    {%- elsif block.settings.style == 'inline' -%}
                      {%- liquid
  assign product_description_content = product.description | strip
  assign truncate_string = 'products.general.read_more' | t
  assign show_more_button = block.settings.show_read_more
  assign truncate_html = '<button type="button" class="standard__cta caps--large" data-truncated-button>' | append: truncate_string | append: '</button>'

  assign truncated_holder = ''
  if show_more_button
    assign truncated_holder = 'data-truncated-holder'
  endif
  -%}

<div class="rte product-description__content">
  <div class="product-description__content__holder" {{ truncated_holder }}>
    <div class="product-description__content__inner">
      <div class="product-description__content__entry" data-truncated-content="product-description__content__entry--truncate">
        {{ product_description_content }}
      </div>
    </div>

    <div class="product-description__content__actions">
      {%- if show_more_button -%}
        {{ truncate_html }}
      {%- endif -%}
    </div>
  </div>
</div>
                  <form method="post" action="/cart/add">

  <input type="hidden" name="id" value="{{ product.variants.first.id }}" />

  <input min="1" type="number" id="quantity" name="quantity" value="1"/>

  <input type="submit" value="Add to cart" class="btn" />

</form>
                    {%- endif -%}
                  </div>

                  {%- if block.settings.style != 'inline' -%}
                    {%- if product.description != blank -%}
                      <div class="tabs-wrapper productTabsWrapper{% if block.settings.style == 'tabs' %} productTabsWrapper--tabs{% elsif block.settings.style == 'accordions' %} productTabsWrapper--accordion{% endif %}">
                        {%- render 'product-tabs', product: product, block: block -%}
                      </div>
                    {%- endif -%}
                  {%- endif -%}
                {%- when 'upsell' -%}
                  <div {{ block.shopify_attributes }}>
                    {%- if template.name == 'product' -%}
                      {%- assign product_tags = product.tags | join: ',' | append: ',' -%}
{%- assign upsell_separator = '_upsell_' -%}

{%- if product_tags contains upsell_separator -%}
  {%- assign upsell_product_handle = product_tags | split: upsell_separator | last | split: ',' | first -%}
  {%- assign upsell_variant_id = '' -%}
  {%- assign upsell_error = false -%}

  {%- comment -%}Upsell with variant ID{%- endcomment -%}
  {%- if upsell_product_handle contains '_' -%}
    {%- assign upsell_variant_id = upsell_product_handle | split: '_' | last | plus: 0 -%}
    {%- assign upsell_product_handle = upsell_product_handle | split: '_' | first -%}
  {%- endif -%}

  {%- assign upsell_product = all_products[upsell_product_handle] -%}
  {%- assign upsell_variant = upsell_product.variants | where: 'id', upsell_variant_id | first -%}

  {%- if upsell_variant_id == '' -%}
    {%- assign upsell_variant = upsell_product.selected_or_first_available_variant -%}
  {%- endif -%}

  {%- if upsell_product.title == '' or upsell_variant == nil -%}
    {%- assign upsell_error = true -%}
  {%- endif -%}

  {%- if request.design_mode -%}
    {%- assign upsell_error = false -%}
  {%- endif -%}
  
  {%- unless upsell_error -%}
    {%- if request.design_mode and upsell_product.title == '' or upsell_variant == nil -%}
      {%- assign upsell_error = true -%}
    {%- endif -%}

    <div class="product-upsell-holder" data-upsell-holder>
      <h2 class="product-upsell-holder__title small">{{ 'products.general.upsell_title' | t }}</h2>

      <div data-cart-errors-container class="product-upsell__errors small"></div>
    
      <div class="product-upsell">
        {%- assign upsell_variant_image = upsell_variant.featured_media | default: upsell_product.media[0] -%}
    
        <div class="product-upsell__image">
          {%- if upsell_error -%}
            <div class="product-upsell__image-inner" style="background-image: url({{ 'blank.svg' | asset_url }});"></div>
          {%- else -%}
            <a href="{{ upsell_product.url }}">
              {%- if upsell_variant_image -%}
              <div class="product-upsell__image-inner lazyload" aria-label="{{ upsell_variant_image.alt | strip_html | escape }}" role="img" data-bgset="{% render 'bgset', image: upsell_variant_image.preview_image.src %}">
                <noscript>
                  <img src="{{ upsell_variant_image.preview_image.src | img_url: '720x' }}" width="{{- upsell_variant_image.preview_image.width -}}" height="{{- upsell_variant_image.preview_image.height -}}"  alt="{{ upsell_variant_image.alt | strip_html | escape }}">
                </noscript>
              </div>
              {%- else -%}
                <div class="product-upsell__image-inner" aria-label="{{ upsell_product.title | strip_html | escape }}" role="img" style="background-image: url({{ 'blank.svg' | asset_url }});">
                  <noscript>
                    <img src="{{ 'blank.svg' | asset_url }}" width="300" height="300" alt="{{ upsell_product.title | strip_html | escape }}">        
                  </noscript>
                </div>      
              {%- endif -%}
            </a>
          {%- endif -%}
        </div>
    
        <div class="product-upsell__content">
          {%- if upsell_error -%}
            <h3 class="product-upsell__title small">{{ 'products.general.upsell_error_title' | t }}</h3>
    
            <h4 class="product-upsell__variant-title small">{{ 'products.general.upsell_error_info' | t }}</h4> 
          {%- else -%}  
            <a href="{{ upsell_product.url }}">
              <h3 class="product-upsell__title small">{{ upsell_product.title | strip_html }}</h3>
    
              {%- unless upsell_product.has_only_default_variant -%}
                <h4 class="product-upsell__variant-title small">{{ upsell_variant.title | replace: '/', '<span>&nbsp;</span>' }}</h4> 
              {%- endunless -%}
    
              <p class="product-upsell__price small {% if upsell_variant.compare_at_price > upsell_variant.price %} sale{% endif %}">
                <span class="new-price">
                  {%- if upsell_variant.price == 0 -%}
                    {{ 'general.money.free' | t }}
                  {%- else -%}
                    {{ upsell_variant.price | money }}
                  {%- endif -%}
                </span>  
                
                {%- if upsell_variant.compare_at_price > upsell_variant.price -%}
                  <span class="old-price">{{ upsell_variant.compare_at_price | money }}</span>
                {%- endif -%}
                
                {%- if upsell_variant.unit_price -%}
                  {%- capture unit_price_separator -%}
                    <span aria-hidden="true">/</span>
                    <span class="visually-hidden">{{ 'general.accessibility.unit_price_separator' | t }}&nbsp;</span>
                  {%- endcapture -%}
    
                  {%- capture unit_price_base_unit -%}
                    {%- if upsell_variant.unit_price_measurement.reference_value != 1 -%}
                      {{ upsell_variant.unit_price_measurement.reference_value }}
                    {%- endif -%}
                    {{ upsell_variant.unit_price_measurement.reference_unit }}
                  {%- endcapture -%}
                  
                <br />
  
                <span class="visually-hidden visually-hidden--inline">{{ 'products.product.unit_price_label' | t }}</span>
  
                <span class="unit">{{ upsell_variant.unit_price | money }}{{ unit_price_separator }}{{ unit_price_base_unit }}</span>
              {% endif -%}
            </p>  
          </a>
          
          {%- form 'product', upsell_product -%}
            <input type="hidden" name="id" value="{{ upsell_variant.id }}">
  
            <button type="submit" name="add" data-add-to-cart
            data-focus-element data-upsell-btn class="product-upsell__btn {% unless upsell_variant.available %} is-hidden {% endunless %}">
              <span class="product-upsell__btn-hidden" data-upsell-btn-text>{{ 'products.general.upsell_add_to_cart' | t }}</span>
  
              <span class="product-upsell__btn-text">{{ 'products.general.upsell_add_to_cart' | t }}</span>
  
              <span class="product-upsell__btn-plus" aria-label="+">
                <svg width="10px" height="10px" viewBox="0 0 10 10" class="product-upsell__icon-plus">
                  <path d="M5,0.5 C5.27614237,0.5 5.5,0.723857625 5.5,1 L5.5,5 L9.5,5 C9.77614237,5 10,5.22385763 10,5.5 C10,5.77614237 9.77614237,6 9.5,6 L5.5,6 L5.5,10 C5.5,10.2761424 5.27614237,10.5 5,10.5 C4.72385763,10.5 4.5,10.2761424 4.5,10 L4.5,6 L0.5,6 C0.223857625,6 3.38176876e-17,5.77614237 0,5.5 C-3.38176876e-17,5.22385763 0.223857625,5 0.5,5 L4.5,5 L4.5,1 C4.5,0.723857625 4.72385763,0.5 5,0.5 Z" fill-rule="nonzero"></path>
                </svg>
              </span>
  
              
  
              <span class="product-upsell__btn-check">&nbsp;</span>
            </button>

              <p class="product-upsell__out-of-stock">{{ 'products.general.upsell_out_of_stock' | t }}</p>
            {%- endform -%}
          {%- endif -%}
        </div>
      </div>
    </div>
  {%- endunless -%}
{%- endif -%}
                    {%- endif -%}
                  </div>
                {%- when 'sharing' -%}
                  {%- assign share_product_link = shop.url | append: product.url -%}
                  <div class="product__sharing" {{ block.shopify_attributes }}>
                    <button type="button" class="product__sharing-button" data-product-share="{{ share_product_link }}" data-product-share-title="{{ product.title }}" aria-label="{{ 'general.social.share_on_facebook' | t }}">
                      {% render 'icon-share' %}
                      <span class="product__sharing-button-text">{{ 'general.social.share_on_facebook' | t }}</span>
                    </button>

                    {% render 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product.featured_media.preview_image, share_link: share_product_link %}
                  </div>
                {%- when 'pickup' -%}
                  <div class="product__pickup" data-store-availability-container {{ block.shopify_attributes }}></div>
                {% when 'liquid' %} 
                  {{ block.settings.custom_liquid }}
                {%- when 'text' -%}
                  <div class="product__subheading" {{ block.shopify_attributes }}>
                    {%- if block.settings.title != blank -%}
                      {{ block.settings.title }}
                    {%- endif -%}
                  </div>
              {%- endcase -%}
            {%- endfor -%}
  {% endform %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% unless product == empty %}
  <script type="application/json" data-product-json>
    {{ product | json }}
  </script>
  <script type="application/json" id="ModelJson-{{ unique }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>
{% endunless %}


  {%- if show_cart_bar -%}
    <!-- /partials/cart-bar.liquid -->

{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign selling_plan_hide = true -%}
{%- assign button_add = false -%}

{% if product.selling_plan_groups.size > 0 and section.settings.subscriptions_enable_selectors %}
  {%- assign selling_plan_hide = false -%}
{% endif %}

{%- if product.has_only_default_variant and selling_plan_hide -%}
  {%- assign button_add = true -%}
{%- endif -%}

<div id="cart-bar" class="cart-bar">
  <div class="cart-bar__form__wrapper form__wrapper{% if button_add and current_variant.available != true %} variant--soldout{% endif %}" data-form-wrapper>
    <div class="cart-bar__form">
      <div class="cart-bar__submit product__submit product__submit--spb">
        <button type="button" class="btn product__submit__add{% unless button_add %} product__submit__add--default product__submit__add--chevron{% endunless %}"{% if button_add %} data-add-to-cart-bar{% else %} data-cart-bar-scroll{% endif %}>
          <span>
            {% if button_add %}
              {%- if current_variant.available and product.tags contains '_preorder' -%}
                {{ 'products.product.pre_order' | t }}
              {%- elsif current_variant.available -%}
                {{ 'products.product.add_to_cart' | t }}
              {%- else -%}
                {{ 'products.product.sold_out' | t }}
              {%- endif -%}
            {% else %}
              {{ 'products.product.configure' | t }}
            {% endif %}
          </span>

          <svg height="18" width="18" class="svg-loader">
            <circle r="7" cx="9" cy="9" />
            <circle stroke-dasharray="87.96459430051421 87.96459430051421" r="7" cx="9" cy="9" />
          </svg>
        </button>
      </div>
    </div>

    <div class="cart-bar__info">
      <h4 class="cart-bar__product__title">{{ product.title | strip_html }}</h4>

      <div class="h5--body cart-bar__product__price product__price" data-price-wrapper>
        <span data-product-price {% if current_variant.compare_at_price > current_variant.price %} class="product__price--sale"{% endif %}>
          {%- if current_variant.price == 0 -%}
            {{ 'general.money.free' | t }}
          {%- else -%}
            {{ current_variant.price | money }}
          {%- endif -%}
        </span>

        {% if product.compare_at_price_max > product.price %}
          <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
          <s class="product__price--strike" data-compare-price>
            {% if current_variant.compare_at_price > current_variant.price %}
              {{ current_variant.compare_at_price | money }}
            {% endif %}
          </s>
        {% endif %}
      </div>
    </div>
  </div>
</div>

  {%- endif -%}
</div>

{%- assign current_variant = product.selected_or_first_available_variant -%}

{% comment %} Google wants to know when to check your price again {% endcomment %}
{%- assign days_price_is_valid = 1 -%}
{%- assign seconds_in_a_day = 86400 -%}
{%- assign seconds_price_valid = days_price_is_valid | times: seconds_in_a_day -%}
{% style %}
.radio__button_checked, .group-radio-button {
    display: none;
}
.radio__button_head {
    margin-top: 5px;
    margin-bottom: 5px;
}
.wrapper-s  span.radio__button.radio__button_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
span.radio__button.radio__button_head.active .d-icon-arrow-down {
    transform: rotate(180deg);
}
@media only screen and (max-width: 600px) {

}

{% endstyle %}



  <style>
    .product__form a {
      text-decoration:underline;
    
    }

    @media (max-width: 600px) {
          .product__page .grid__item {
      padding-left:15px!important;
    }

      .spr-starrating {
        margin-top:20px;
      }
    }



</style>

<script>
$(document).ready(function(){
  $(".wrapper-s .radio__button_head span").text($(".wrapper-s .radio__button_checked").find('input').val());
  $(".wrapper-s .radio__button_head img").attr("srcset",$(".wrapper-s .radio__button_checked").find('img').attr('srcset'));
  $(".wrapper-s .radio__button_check").click(function(){
    $(".wrapper-s .radio__button_check").removeClass("radio__button_checked");
    $(this).addClass("radio__button_checked");
    $(".wrapper-s .radio__button_head span").text($(this).find('input').val());
    $(".wrapper-s .radio__button_head img").attr("srcset",$(this).find('img').attr('srcset'));  
  });
  $(".wrapper-s .radio__button_head").click(function(){
    $(this).toggleClass('active');
    $(".wrapper-s .group-radio-button").toggle();
  });
  $(".group-radio-button").click(function(){
    $(this).hide();
  });
});  
</script>
<script type="application/ld+json">

{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": {{ product.title | json }},
  "url": {{ shop.url | append: product.url | json }},
  {%- if product.featured_media -%}
    {%- assign media_size = product.featured_media.preview_image.width | append: 'x' -%}
    "image": [
      {{ product.featured_media | img_url: media_size | prepend: "https:" | json }}
    ],
  {%- endif -%}
  "description": {{ product.description | strip_html | json }},
  {%- if current_variant.sku != blank -%}
    "sku": {{ current_variant.sku | json }},
  {%- endif -%}
  {%- if product.metafields.reviews.rating.value != blank -%}
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "{{ product.metafields.reviews.rating.value }}",
      "ratingCount": "{{ product.metafields.reviews.rating_count.value }}",
      "bestRating": "{{ product.metafields.reviews.rating.value.scale_max }}",
      "worstRating": "{{ product.metafields.reviews.rating.value.scale_min }}"
    },
  {%- endif -%}
  "brand": {
    "@type": "Organization",
    "name": {{ product.vendor | json }}
  },
  "offers": [
    {%- for variant in product.variants -%}
      {
        "@type" : "Offer",
        {%- if variant.sku != blank -%}
          "sku": {{ variant.sku | json }},
        {%- endif -%}
        "availability" : "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
        "price" : {{ variant.price | divided_by: 100.00 | json }},
        "priceCurrency" : {{ cart.currency.iso_code | json }},
        "priceValidUntil": "{{ 'now' | date: '%s' | plus: seconds_price_valid | date: '%Y-%m-%d'}}",
        "url" : {{ shop.url | append: variant.url | json }}
      }{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
  ]
}
</script>

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "header",
        "content": "Product description"
      },
      {
        "type": "checkbox",
        "id": "product_sticky_enable",
        "label": "Enable sticky form",
        "info": "Product form stays in view for stacked image display.",
        "default": true
      },
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "select",
        "id": "image_layout",
        "label": "Image display",
        "default": "stacked",
        "options": [
          { "value": "thumbnails", "label": "Thumbnails - Bottom" },
          { "value": "thumbnails-left", "label": "Thumbnails - Left" },
          { "value": "stacked", "label": "Stacked" }
        ]
      },
      {
        "type": "select",
        "id": "image_size",
        "label": "Image size",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "normal",
            "label": "Normal"
          },
          {
            "value": "stretch",
            "label": "Stretch - No thumbnails"
          }
        ],
        "default": "normal"
      },
      {
        "type": "header",
        "content": "Cart bar"
      },
      {
        "type": "checkbox",
        "id": "show_cart_bar",
        "label": "Enable cart bar",
        "default": true
      },
      {
        "type": "header",
        "content": "Media",
        "info": "Learn more about [media types](https://help.shopify.com/manual/products/product-media)"
      },
      {
        "type": "checkbox",
        "id": "enable_zoom",
        "label": "Enable zoom",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_video_looping",
        "label": "Enable video looping",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "@app"
      },
      {
        "type": "price_and_title",
        "name": "Price and title",
        "limit": 1,
        "settings": [
          {
            "type": "select",
            "id": "subheading_option",
            "label": "Navigation",
            "default": "none",
            "options": [
              { "value": "none", "label": "None" },
              { "value": "breadcrumb", "label": "Breadcrumb" },
              { "value": "collection", "label": "Collection" },
              { "value": "vendor", "label": "Vendor" }
            ]
          },
          {
            "type": "header",
            "content": "Star rating"
          },
          {
            "type": "checkbox",
            "id": "show_rating",
            "label": "Show ratings",
            "default": true,
            "info": "Requires an app to set the metafield value for reviews.rating"
          },
          {
            "type": "checkbox",
            "id": "enable_star_rating",
            "label": "Enable star rating",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "show_rating_count",
            "label": "Show rating count",
            "default": false
          }
        ]
      },
      {
        "type": "form",
        "name": "Form",
        "limit": 1,
        "settings": [
          {
            "type": "header",
            "content": "Size chart"
          },
          {
            "type": "page",
            "id": "info_page",
            "label": "Page"
          },
          {
            "type": "header",
            "content": "Form elements"
          },
          {
            "type": "checkbox",
            "id": "show_labels",
            "label": "Show variant labels",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "show_quantity",
            "label": "Show quantity selector",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "show_payment_button",
            "label": "Show dynamic checkout buttons",
            "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/en/manual/online-store/os/dynamic-checkout)",
            "default": true
          },
          {
            "type": "header",
            "content": "Subscriptions",
            "info": "Learn more about [subscriptions](https://help.shopify.com/en/manual/products/subscriptions)"
          },
          {
            "type": "checkbox",
            "id": "subscriptions_enable_selectors",
            "label": "Enable subscription selectors",
            "info": "Shown on products with subscription options",
            "default": true
          }
        ]
      },
      {
        "type": "tab_richtext",
        "name": "Product description",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_read_more",
            "label": "Show read more button",
            "default": true
          },
          {
            "type": "select",
            "id": "style",
            "label": "Tab style",
            "default": "tabs",
            "options": [
              { "value": "inline", "label": "Disable tabs" },
              { "value": "tabs", "label": "Tabs" },
              { "value": "accordions", "label": "Accordions" }
            ]
          },
          {
            "type": "text",
            "id": "title_1",
            "label": "Tab heading",
            "default": "Tab"
          },
          {
            "type": "richtext",
            "id": "raw_content_1",
            "label": "Tab text",
            "default": "<p>This content type will accept <strong>rich text</strong> to help with adding styles and links to additional pages or content. Use this to add supplementary information to help your buyers.</p>"
          },
          {
            "type": "text",
            "id": "title_2",
            "label": "Tab heading",
            "default": "Info"
          },
          {
            "type": "richtext",
            "id": "raw_content_2",
            "label": "Tab text",
            "default": "<p>You can use product metafields to assign content to this tab that is unique to an individual product.  Use tabs to highlight unique features, sizing information, or other sales information.</p>"
          },
          {
            "type": "text",
            "id": "title_3",
            "label": "Tab heading"
          },
          {
            "type": "richtext",
            "id": "raw_content_3",
            "label": "Tab text"
          },
          {
            "type": "text",
            "id": "title_4",
            "label": "Tab heading"
          },
          {
            "type": "richtext",
            "id": "raw_content_4",
            "label": "Tab text"
          },
          {
            "type": "text",
            "id": "title_5",
            "label": "Tab heading"
          },
          {
            "type": "richtext",
            "id": "raw_content_5",
            "label": "Tab text"
          }
        ]
      },
      {
        "type": "upsell",
        "name": "Upsell",
        "limit": 1,
        "settings": [
          {
            "type": "header",
            "content": "Upsell info",
            "info": "Tag this product with an _upsell tag to show an upsell for a related product. The _upsell tag uses the name in the product link, called a handle, to show a one-click buy link for a product that customers may also like.The product handle is just the name shown in the link to a product. A necklace at /products/necklace would have the handle necklace."
          }
        ]
      },
      {
        "type": "sharing",
        "name": "Sharing",
        "limit": 1
      },
      {
        "type": "pickup",
        "name": "Local pickup",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "Show customers where they can pick up the product. [Learn more](https://help.shopify.com/en/manual/shipping/setting-up-and-managing-your-shipping/local-methods/local-pickup#show-pickup-availability-to-your-customers)"
          }
        ]
      },
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "richtext",
            "id": "title",
            "label": "Text"
          }
        ]
      },
      {
        "type": "liquid",
        "name": "Liquid",
        "settings": [
          {
            "type": "liquid",
            "id": "custom_liquid",
            "label": "Custom Liquid",
            "info": "Add app snippets or other Liquid code to create advanced customizations."
          }
        ]
      }
    ]
  }
  {% endschema %}
